*{
margin: 0px;
padding: 0px;
}

body {
    background-color: #000060;
}

.app{
height: 100vh;
width: 100%;
display:grid;
place-items: center;

}

.image {
height: 400px;
width: 450px;
border-radius: 20px;
}

@media  (max-width: 460px ) {
    body {
        background-color: #000060);
    }
    .image {
        width: 280px;
        height: 240px;

    }
}